p{
    margin: 0;
    padding: 0;
}
.inner-img{
    background-image: url('./img/coding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50rem;
    
}
.hello-section{
    color: #fff;
    padding: 80px 0px;
}
.hero-section{
    position: relative;
}
.skill-bg{
    position: relative;
}
.hello-section h1{

    font-size: 6rem;
    font-weight: 800;
}
.hello-section p{
    font-size: 2rem;
}
.hero-section::before {
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
}

.navbar-bg{
    background-color: #FD2155;
}
.navbar ul li a{
    color: #fff;
}

.headline{
    padding-top: 90px;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

.skill-bg{
    background-color: #141E27;
}
.skillset ul li{
    list-style: none;

}
.tik-text{
    font-size: 20px;
    color: #fff;
}
i.fa{
    font-size: 20px;
    color: #fff;
}
.text-skill{
    border: 1px solid #fff;
    border-radius: 5px;
}

span.navbar-toggler-icon {
    color: #000;
    background: #fff;
}
.headline-black{
    color: #000;
}

.project-img {
    width: 272px;
    height: 470px;
    margin-bottom: 35px;
}

.single-project {
    text-align: center;
}
.project-btn a{
    text-decoration: none;
}
.mycontact-section{
    color: #fff;
}
.contact-icon {
    margin-right: 25px;
}

.contact-icon i.fa {
    font-size: 36px;
    background: #FD2155;
    padding: 14px;
    border-radius: 50%;
}
.contact {
    margin-top: 55px;
}